.App {
  text-align: center;
}



.simple-component-class{
  padding: 10px;
  background: gold;
  font-family: monospace;
  font-size: large;
  margin: 20px;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.simple-component-class-alt{
  padding: 10px;
  background: rgb(11, 173, 195);
  font-family: monospace;
  font-size: large;
  margin: 20px;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.child-css{
  padding: 10px;
  background: rgb(32, 65, 111);
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.wrapper{
  height: 1000px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

 
 